# Python

**/.venv/
**/__pycache__/
*.pyc

# Secrets

.env
.env.*

# Mac

.DS_Store

# Runtime infrastructure data

Infra/**

# Keep infrastructure folder structure and ignore rules

!Infra/
!Infra/.gitignore
!Infra/**/
!Infra/**/.gitkeep
