POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=analyticsdb
POSTGRES_USER=analytics
POSTGRES_PASSWORD=analytics123

REDIS_HOST=localhost
REDIS_PORT=6379

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=

AIP_INFRA_ROOT=/Users/chethan/GitHub/AIP-Project/AIP-Infra

STORAGE_ROOT=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage
REPORT_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage/reports
ARTIFACT_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage/artifacts
ARCHIVE_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage/archives
LOG_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/logs
KMS_SEED_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage/kms/seeds
KMS_RUNTIME_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage/kms/runtime
LMS_SEED_PATH=/Users/chethan/GitHub/AIP-Project/AIP-Infra/storage/lms/seeds
